<%- include('../partials/main-header',{title:'edir-timeline'}); -%>

    <main class="main">
        <div class="container">
            <div class="page-header page-header-big text-center" style="background-image: url('../../images/ethiopia.jpg')">
                <h1 class="page-title text-white">About us<span class="text-white">Who we are</span></h1>
            </div>
            <!-- End .page-header -->
        </div>
        <!-- End .container -->

        <div class="page-content pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-3 mb-lg-0">
                        <h2 class="title">Our Vision</h2>
                        <!-- End .title -->
                        <p>We aim to create a platform where communities are better connect throughout the world whilst promoting Ethiopia's culture </p>
                    </div>
                    <!-- End .col-lg-6 -->

                    <div class="col-lg-6">
                        <h2 class="title">Our Mission</h2>
                        <!-- End .title -->
                        <p>To improve everyday life and utilise community involvement share moment of optimism, happines and grief designed for now and future generations to have full participation in culture.</p>
                    </div>
                    <!-- End .col-lg-6 -->
                </div>
                <!-- End .row -->

                <div class="mb-5"></div>
                <!-- End .mb-4 -->
            </div>
            <!-- End .container -->

            <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 mb-3 mb-lg-0">
                            <h2 class="title">Who We Are</h2>
                            <!-- End .title -->
                            <p class="lead text-primary mb-3">Addis Ababa Science and Technology University<br>3rd Year Software Engineering Students,</p>
                            <!-- End .lead text-primary -->
                            <p class="mb-2">Created in 2022, Edir site was founded by AASTU 3rd Year Software Engineering students. Edir is indigenous voluntary association in Ethiopia in which community members collaborate whenever an event or adverse situation occur
                                in member of the family. We create a social network where people could go in everyday and get information about the edir they are currently envolved in and write, share important events and other monthly meetings. To create
                                this Edir site, our team took a class project and the inspiration came from day to day lives of our families and the culture we grew up with we plan on further developing similar websites and promote Ethiopian culture worldwide.
                            </p>


                        </div>
                        <!-- End .col-lg-5 -->

                        <div class="col-lg-6 offset-lg-1">
                            <div class="about-images">
                                <img src="../images/about/img-1.jpg" alt="" class="about-img-front">
                                <img src="../images/about/img-2.jpg" alt="" class="about-img-back">
                            </div>
                            <!-- End .about-images -->
                        </div>
                        <!-- End .col-lg-6 -->
                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .bg-light-2 pt-6 pb-6 -->


            <hr class="mt-4 mb-6">

            <h2 class="title text-center mb-4">Meet Our Team</h2>
            <!-- End .title text-center mb-2 -->

            <div class="row">
                <div class="col-md-4">
                    <div class="member member-anim text-center">
                        <figure class="member-media">
                            <img src="../../images/selamawit.jpg" alt="member photo">

                            <figcaption class="member-overlay">
                                <div class="member-overlay-content">
                                    <h3 class="member-title">Selamawit Tibebu<span>Founder & CEO</span></h3>
                                    <!-- End .member-title -->
                                    <p>.</p>
                                    <div class="social-icons social-icons-simple">
                                        <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                        <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                        <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                    </div>
                                    <!-- End .soial-icons -->
                                </div>
                                <!-- End .member-overlay-content -->
                            </figcaption>
                            <!-- End .member-overlay -->
                        </figure>
                        <!-- End .member-media -->
                        <div class="member-content">
                            <h3 class="member-title">Selamawit Tibebu<span>Founder & CEO</span></h3>
                            <!-- End .member-title -->
                        </div>
                        <!-- End .member-content -->
                    </div>
                    <!-- End .member -->
                </div>
                <!-- End .col-md-4 -->

                <div class="col-md-4">
                    <div class="member member-anim text-center">
                        <figure class="member-media">
                            <img src="../../images/selam.jpg" alt="member photo">

                            <figcaption class="member-overlay">
                                <div class="member-overlay-content">
                                    <h3 class="member-title">Selam Yoseph<span>Sales & Marketing Manager</span></h3>
                                    <!-- End .member-title -->
                                    <p></p>
                                    <div class="social-icons social-icons-simple">
                                        <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                        <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                        <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                    </div>
                                    <!-- End .soial-icons -->
                                </div>
                                <!-- End .member-overlay-content -->
                            </figcaption>
                            <!-- End .member-overlay -->
                        </figure>
                        <!-- End .member-media -->
                        <div class="member-content">
                            <h3 class="member-title">Selam Yoseph<span>Sales & Marketing Manager</span></h3>
                            <!-- End .member-title -->
                        </div>
                        <!-- End .member-content -->
                    </div>
                    <!-- End .member -->
                </div>
                <!-- End .col-md-4 -->

                <div class="col-md-4">
                    <div class="member member-anim text-center">
                        <figure class="member-media">
                            <img src="../../images/zac.jpg" alt="member photo">

                            <figcaption class="member-overlay">
                                <div class="member-overlay-content">
                                    <h3 class="member-title">Zekaryas Tesfaye<span>Product Manager</span></h3>
                                    <!-- End .member-title -->

                                    <div class="social-icons social-icons-simple">
                                        <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                        <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                        <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                    </div>
                                    <!-- End .soial-icons -->
                                </div>
                                <!-- End .member-overlay-content -->
                            </figcaption>
                            <!-- End .member-overlay -->
                        </figure>
                        <!-- End .member-media -->
                        <div class="member-content">
                            <h3 class="member-title">Zekaryas Tesfaye<span>Product Manager</span></h3>
                            <!-- End .member-title -->
                        </div>
                        <!-- End .member-content -->
                    </div>
                    <!-- End .member -->
                </div>
                <!-- End .col-md-4 -->
            </div>
            <!-- End .row -->
        </div>
        <!-- End .container -->

        <div class="mb-2"></div>
        <!-- End .mb-2 -->

        <div class="about-testimonials bg-light-2 pt-6 pb-6">
            <div class="container">
                <h2 class="title text-center mb-3">What Customer Say About Us</h2>
                <!-- End .title text-center -->

                <div class="owl-carousel owl-simple owl-testimonials-photo" data-toggle="owl" data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "1200": {
                                        "nav": true
                                    }
                                }
                            }'>
                    <blockquote class="testimonial text-center">
                        <p>“ I believe in your work! ”</p>
                        <cite>
                                    Yohannes Assefa, CEO Tiyake.com
                                    <span>Customer</span>
                                </cite>
                    </blockquote>
                    <!-- End .testimonial -->


                </div>
                <!-- End .testimonials-slider owl-carousel -->
            </div>
            <!-- End .container -->
        </div>
        <!-- End .bg-light-2 pt-5 pb-6 -->
        </div>
        <!-- End .page-content -->
    </main>
    <!-- End .main -->

    <%- include('../partials/main-footer'); -%>